
fastapi
uvicorn


sqlalchemy
psycopg2-binary
alembic


pydantic


python-dotenv


passlib
python-jose


google-api-python-client
google-auth-httplib2
google-auth-oauthlib



openai
sendgrid
slack_sdk